@import "../setting/_variables.scss";
@import "../setting/_reset.scss";
@import "../setting/_mixins.scss";

.breadcrumb {
    background-color: transparent;
    font-weight: 500;
    padding: 0; 
    a {
        color: $color_holding_primary_default;
        
    }
}
.breadcrumb-item.active>a {
    color: #000;
}
// .breadcrumb-item+.breadcrumb-item::before {
//     content: "/";
// }
@include rwd(#{$ipad - 1px}){
    .breadcrumb {
        font-size: 12px;
        padding: 12px;
    }
}
// 包含有dropdown元件
.breadcrumb-menu {
    border-radius: 0;
    padding: 0;
    .dropdown-item {
        background-color: #e4d8be;
        color: #000;
        &:hover {
            background-color: $color_holding_primary_default;
            color: #fff;
        }
    }
}